@{
  Layout = "_Layout";
}

@model DrSneussFactory.Models.Machine

<h1>Machine Details<h1>
<hr/>

<h3>@Html.DisplayNameFor(model => model.MachineName): @Html.DisplayFor(model => model.MachineName)</h3>

<h3>@Html.DisplayNameFor(model => model.MachineDescription): @Html.DisplayFor(model => model.MachineDescription)</h3><br>

@if(@Model.Engineers.Count == 0)
{
  <p>This Machine does not have any Engineers just yet!</p>
}
else
{
  <h2>Engineers permitted to fix:</h2>
  <ul>
  @foreach(var join in Model.Engineers)
  { 
    <li>@join.Engineer.Name</li>
    @using (Html.BeginForm("DeleteMachine", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
</ul>
}

<p>@Html.ActionLink("Add Machine", "AddMachine", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>

